<script type="text/javascript">
    function getCurrentUrl(item) {
        $(item).val = window.location.href;
    }

    function addNewYear_BtnClick() {

    }


</script>

<nav id="header" class="navbar form-inline px-4 shadow d-{{header}}
    shadow-sm" style="border-radius: 0 0 20px 20px; ">
    <div class="d-flex">
        <a class="d-flex navbar-brand px-2 fs-5 fw-semibold" href="/class?year={{CurYear}}&semester={{CurSem}}">
            <img class="mx-3" src="/images/education.png" width="40" height="40" class="d-inline-block align-top"
                alt="">
            {{!-- <div class="mt-2 fs-4 fw-bold" style="color: black;">QLHSC3</div> --}}
        </a>

        <div class="mt-2">
            <a class="btn" role="button" href="/class?year={{CurYear}}&semester={{CurSem}}"
                style="width: 80; border-radius: 20px; background-color: #D9D9D9;">
                Lớp học</a>
            <a class="btn" role="button" href="/course?year={{CurYear}}&semester={{CurSem}}"
                style="width: 80; border-radius: 20px; background-color: #D9D9D9;">
                Môn học</a>
            <a class="btn" role="button" href="/search?year={{CurYear}}&semester={{CurSem}}"
                style="width: 80; border-radius: 20px; background-color: #D9D9D9;">
                Tìm kiếm</a>
            <a class="btn" role="button" href="/summary?year={{CurYear}}&semester={{CurSem}}&sum_semester=1"
                style="width: 80; border-radius: 20px; background-color: #D9D9D9;">
                Tổng kết</a>
            <a class="btn" role="button" href="/setting/edit?year={{CurYear}}&semester={{CurSem}}"
                style="width: 80; border-radius: 20px; background-color: #D9D9D9;">
                Quy định</a>

        </div>
    </div>


    <div class="d-flex">
        <div class="d-flex mt-3">
            <div class="mt-1" style="font-size: 13px;">Năm học: </div>
            <div class="dropdown mx-2">
                <button type="button" class="btn dropdown-toggle py-1 fw-bold" data-bs-toggle="dropdown"
                    aria-expanded="false" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9;
                    width: 110px;" id="yearmenu_btn">
                </button>
                <div class="dropdown-menu dropdown-menu-end" id="yearmenu-dropdown" style="min-width: 110px;"
                    data-year={{CurYear}}>
                    {{#each Years}}
                    <button class="dropdown-item" onclick="changeYear(this)"
                        style="font-size: 12px; text-align: center;">{{_year}}</button>
                    {{/each}}
                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#addYearModal"
                        style="font-size: 12px; text-align: center;">+</button>
                </div>
            </div>
        </div>
        <div class="d-flex mt-3">
            <div class="mt-1" style="font-size: 13px;">Học kỳ: </div>
            <div class="mx-2">
                <select class="py-1 px-3 fw-bold" aria-label=".form-select-lg example" id="semmenu-select"
                    style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9;"
                    data-semester={{CurSem}} onchange="changeSem(this)">
                    <option value="1" style="font-size: 13px;">1</option>
                    <option value="2" style="font-size: 13px;">2</option>
                </select>
            </div>
        </div>
        <a href="/logout" class="mt-4 mx-2" style="font-size: 13px; color: red;">Đăng xuất</a>
    </div>
</nav>

{{!-- ADD YEAR MODEL --}}
<div class="modal fade" id="addYearModal" tabindex="-1" aria-labelledby="addYearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title container-fluid" style="text-align: center; ">
                    <h1 class=" fs-5" id="addYearModalLabel">TẠO NĂM HỌC MỚI</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/setting/add_year?year={{CurYear}}&semester={{CurSem}}" method="post" id="addYearForm"
                    style="margin-top: -10px;
                padding-inline: 5%;" data-year="{{CurYear}}">
                    <div class="d-flex pb-1">
                        <div style="margin-left: 25%;">
                            <label for="start_year" style="width: 120px;">Năm bắt đầu:</label>
                            <input type="number" class="form-control text-center" id="start_year" name="start_year"
                                style="width: 120px;" value="" step="1" onchange="changeStartYear(this)">
                        </div>
                        <div style="margin-left: 15%;">
                            <label for="end_year" style="width: 120px;">Năm kết thúc:</label>
                            <input type="number" class="form-control text-center" id="end_year" name="end_year" disabled
                                style="width: 120px;" value="" step="1">
                        </div>
                    </div>
                    <div class="row border-bottom border-top mt-2">
                        <div class="col-6 p-2">

                            <div class="m-2">
                                <label for="minage">Độ tuổi tối thiểu: </label>
                                <input type="number" class="form-control" id="minage" name="min_age" min="0" max="120"
                                    value="{{regulation.min_age}}">
                            </div>
                            <div class="m-2">
                                <label for="maxage">Độ tuổi tối đa: </label>
                                <input type="text" class="form-control" id="maxage" name="max_age" min="0" max="120"
                                    value="{{regulation.max_age}}">
                            </div>
                        </div>
                        <div class="col-6 p-2">

                            <div class="m-2">
                                <label for="maxstudent">Số học sinh tối đa: </label>
                                <input type="number" class="form-control" id="maxstudent" name="max_student" min="0"
                                    value="{{regulation.max_student}}">
                            </div>
                            <div class="m-2">
                                <label for="score">Điểm chuẩn: </label>
                                <input type="text" class="form-control" id="score" name="standard_score" min="0"
                                    max="10" value="{{regulation.standard_score}}">

                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom p-1">
                        <div class="col-4">
                            <div class="m-2 mt-4">
                                <label for="numClass10">Số lớp 10: </label>
                                <input type="number" class="form-control" id="numClass10" name="num_of_class_10"
                                    value="{{regulation.num_of_class_10}}">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="m-2">
                                <div class="d-flex justify-content-between align-items-end">
                                    <label>Tên các lớp 10: </label>
                                    {{!-- <div>
                                        <input type="text" class="form-control" value="{{regulation.name_class_10}}">
                                    </div> --}}
                                    <div class="input-group input-group-sm" style="width: 130px;">
                                        <input type="text" class="form-control py-0">
                                        <button class="btn btn-outline-secondary btn-sm fs-4 py-0" type="button" data-grade="10"
                                            onclick="addClass_BtnClick(this)">+</button>
                                    </div>
                                </div>
                                <div id="alerts-name-class-10" class="d-flex mt-1"
                                    style="overflow-x: auto; white-space: nowrap;">

                                </div>
                                <div class="error" style="font-size: medium; color: red"></div>
                                <input type="text" class="form-control py-0" id="nameClass10" name="name_class_10" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom p-1">
                        <div class="col-4">
                            <div class="m-2 mt-4">
                                <label for="numClass11">Số lớp 11: </label>
                                <input type="number" class="form-control" id="numClass11" name="num_of_class_11"
                                    value="{{regulation.num_of_class_11}}">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="m-2">
                                <div class="d-flex justify-content-between align-items-end">
                                    <label>Tên các lớp 11: </label>
                                    {{!-- <div>
                                        <input type="text" class="form-control" id="nameClass11" name="name_class_11"
                                            value="{{regulation.name_class_10}}">
                                    </div> --}}
                                    <div class="input-group input-group-sm" style="width: 130px;">
                                        <input type="text" class="form-control">
                                        <button class="btn btn-outline-secondary btn-sm fs-4 py-0" type="button" data-grade="11"
                                            onclick="addClass_BtnClick(this)">+</button>
                                    </div>
                                </div>
                                <div id="alerts-name-class-11" class="d-flex mt-1"
                                    style="overflow-x: auto; white-space: nowrap;">

                                </div>
                                <div class="error" style="font-size: medium; color: red"></div>
                                <input type="text" class="form-control" id="nameClass11" name="name_class_11" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="row border-bottom p-1">
                        <div class="col-4">
                            <div class="m-2 mt-4">
                                <label for="numClass12">Số lớp 12: </label>
                                <input type="number" class="form-control" id="numClass12" name="num_of_class_12"
                                    value="{{regulation.num_of_class_12}}">
                            </div>
                        </div>
                        <div class="col-8">
                            {{!-- <div class="m-2">
                                <label for="nameClass12">Tên các lớp 12: </label>
                                <input type="text" class="form-control" id="nameClass12" name="name_class_12"
                                    value="{{regulation.name_class_12}}">
                            </div> --}}
                            <div class="m-2">
                                <div class="d-flex justify-content-between align-items-end">
                                    <label>Tên các lớp 12: </label>
                                    <div class="input-group input-group-sm" style="width: 130px;">
                                        <input type="text" class="form-control">
                                        <button class="btn btn-outline-secondary btn-sm fs-4 py-0" type="button" data-grade="12"
                                            onclick="addClass_BtnClick(this)">+</button>
                                    </div>
                                </div>
                                <div id="alerts-name-class-12" class="d-flex mt-1"
                                    style="overflow-x: auto; white-space: nowrap;">

                                </div>
                                <div class="error" style="font-size: medium; color: red"></div>
                                <input type="text" class="form-control" id="nameClass12" name="name_class_12" hidden>
                            </div>
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-4">
                            <div class="m-2">
                                <label for="numSubject">Số Môn học: </label>
                                <input type="number" class="form-control" id="numSubject" name="num_of_subject"
                                    value="{{regulation.num_of_subject}}">
                            </div>
                        </div>
                        <div class="col-8">
                            {{!-- <div class="m-2">
                                <label for="nameSubject">Tên các Môn học: </label>
                                <input type="text" class="form-control" id="nameSubject" name="name_of_subject"
                                    value="{{regulation.name_of_subject}}">
                            </div> --}}
                            <div class="m-2">
                                <div class="d-flex justify-content-between align-items-end">
                                    <label>Tên các Môn học: </label>
                                    <div class="input-group input-group-sm" style="width: 130px;">
                                        <input type="text" class="form-control">
                                        <button class="btn btn-outline-secondary btn-sm fs-4 py-0" type="button"
                                            onclick="addClass_BtnClick(this)">+</button>
                                    </div>
                                </div>
                                <div id="alerts-name-course" class="d-flex mt-1"
                                    style="overflow-x: auto; white-space: nowrap; width: 100%;">

                                </div>
                                <div class="error" style="font-size: medium; color: red"></div>
                                <input type="text" class="form-control" id="nameSubject" name="name_of_subject" hidden>
                            </div>
                        </div>
                    </div>
                    <input type="text" class="form-control" id="link" name="link" value="" onload="getCurrentUrl(this)"
                        hidden>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="addYearForm" class="btn btn-success">Tạo mới</button>
            </div>
        </div>
    </div>
</div>
{{#if message}}
<div class="alert alert-secondary alert-dismissible fade show position-absolute start-50 translate-middle shadow m-4 alert-fade"
    role="alert" style="width:fit-content;bottom:-20px;z-index: 100;">
    <div>
        {{message}}
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<script rel="stylesheet" type="text/javascript" src="/js/script.js"></script>