<div class="container-fluid">
    <h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 15px auto; border-radius: 10px;">
        {{ClassName}}</h5></span>
    <div class="d-flex justify-content-between align-items-end" style="margin-inline: 100px; margin-top: -30px;">
        <div>
            <a href="/class/{{ClassName}}?year={{CurYear}}&semester={{CurSem}}" style="text-decoration: underline; color: gray;">Danh sách học sinh</a>
            |
            <a href="/class/{{ClassName}}/course?year={{CurYear}}&semester={{CurSem}}" style="text-decoration: underline; color: red;">Danh sách môn học</a>

        </div>
        <div>
            <div>GVCN: {{Teacher}}</div>
            <div>Sĩ số: {{StudentNumber}}</div>
        </div>
    </div>
    <div class="overflow-auto card" data-bs-spy="scroll" data-bs-smooth-scroll="true" style="margin-inline: 100px;height: 480px; padding:10px auto; background-color: #D9D9D9;
        margin-top: 15px;" id="student-info">
        <h5 style="margin: 7px auto;">BẢNG ĐIỂM</h5>
        <div class="card shadow-sm" style="margin-inline: 200px; margin-top: -7px;">
            <div class=" d-flex  justify-content-between py-2 " style="padding-inline: 70px;">
                <div>Môn: {{CourseName}}</div>
                <div>GV: Lê Thị Ngọc Bích</div>
            </div>
        </div>
        <div class="table-responsive px-3 py-2 my-2"
            style="background-color: white; border-radius: 10px; height: 500px; margin-inline: 100px;">
            <table class="table table-bordered table-sm" id="table-course-score-of-class">
                <thead>
                    <tr>
                        <th scope="col" class="col-1">STT</th>
                        <th scope="col" class="col-2">Họ và tên</th>
                        <th scope="col" class="col-1">Điểm 15 phút</th>
                        <th scope="col" class="col-1">Điểm 1 tiết</th>
                        <th scope="col" class="col-1">Điểm cuối HK</th>
                    </tr>
                </thead>
                <tbody data-bs-spy="scroll" data-bs-smooth-scroll="true">
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td colspan="2">@twitter</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="d-flex mt-2 justify-content-center">
        <a href="{{CourseName}}/import?year={{CurYear}}&semester={{CurSem}}" class="btn btn-success mx-5">Import từ file</a>
        <a href="/class/{{ClassName}}/course/math/download-transcript" class="btn btn-success mx-5">Tải bảng điểm</a>
        <a href="#" class="btn btn-success mx-5">Xuất bảng điểm</a>
    </div>
</div>