<div class="container-fluid">
    <h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 15px auto; border-radius: 10px;">
        {{ClassName}}</h5></span>
    <div class="d-flex justify-content-between align-items-end" style="margin-inline: 100px; margin-top: -30px;">
        <div>
            <a href="/class/{{ClassName}}" style="text-decoration: underline; color: gray;">Danh sách học sinh</a>
            |
            <a href="/class/{{ClassName}}/course" style="text-decoration: underline; color: red;">Danh sách môn học</a>

        </div>
        <div>
            <div>GVCN: {{Teacher}}</div>
            <div>Sĩ số: {{StudentNumber}}</div>
        </div>
    </div>
    <div class="overflow-auto card" data-bs-spy="scroll" data-bs-smooth-scroll="true" style="margin-inline: 100px;height: 500px; padding:10px 150px; background-color: #D9D9D9;
        margin-top: 15px;" id="student-info">
        <a role="button" class="btn btn-light shadow mt-2" href="/class/{{ClassName}}/course/math">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Toán</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Ngữ Văn</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
        <a role="button" class="btn btn-light shadow mt-2" href="#">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>1. Giáo dục công dân</div>
                <div>Lê Thị Ngọc Bích</div>
            </div>
        </a>
    </div>

</div>