<div class="container-fluid">
    <h5 class="card py-2 shadow-sm" style="width: 200px; text-align: center; margin: 15px auto; border-radius: 10px;">
        {{ClassName}}</h5></span>
    <div class="d-flex justify-content-between align-items-end" style="margin-inline: 100px; margin-top: -30px;">
        <div>
            <a href="/class/{{ClassName}}?year={{CurYear}}&semester={{CurSem}}"
                style="text-decoration: underline; color: gray;">Danh sách học sinh</a>
            |
            <a href="/class/{{ClassName}}/course?year={{CurYear}}&semester={{CurSem}}"
                style="text-decoration: underline; color: red;">Danh sách môn học</a>

        </div>
        <div>
            <div>GVCN: {{Class.teacher}}</div>
            <div>Sĩ số: {{Class.amount_student}}</div>
        </div>
    </div>
    <div class="overflow-auto card" data-bs-spy="scroll" data-bs-smooth-scroll="true" style="width:60% ; padding:10px 150px; background-color: #D9D9D9;
        margin: 15px auto;" id="student-info">
        {{#each ListCourse}}
        <a role="button" class="btn btn-light shadow mt-2"
            href="/class/{{@root.ClassName}}/course/{{this.name}}?year={{@root.CurYear}}&semester={{@root.CurSem}}">
            <div class=" d-flex justify-content-between  px-5 py-1">
                <div>{{plus1 @index}}. </div>
                <div style="width: 93%; text-align: left;">{{this.name}}</div>
                {{!-- <div>Lê Thị Ngọc Bích</div> --}}
            </div>
        </a>
        {{/each}}
    </div>
</div>