<div class="d-flex justify-content-evenly" style="margin-top: 140px;">
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle py-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 10
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            {{#each className.class10}}
            <a class="btn dropdown-item" href="/class/{{this}}?year={{@root.CurYear}}&semester={{@root.CurSem}}"
                style="font-size: 18px; text-align: center;">
                {{this}}</a>
            {{/each}}
        </div>
    </div>
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle p-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 11
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            {{#each className.class11}}
            <a class="btn dropdown-item" href="/class/{{this}}?year={{@root.CurYear}}&semester={{@root.CurSem}}"
                style="font-size: 18px; text-align: center;">
                {{this}}</a>
            {{/each}}
        </div>
    </div>
    <div class="dropdown mx-5">
        <button type="button" class="btn dropdown-toggle p-5 fw-bold" data-bs-toggle="dropdown" aria-expanded="false"
            style="background-color: #F4F4F4 ; font-size: 20px; border-radius: 20px; border-color: #D9D9D9; width: 200px;">
            Lớp 12
        </button>
        <div class="dropdown-menu" id="semestermenu-dropdown"
            style="width: 200px; border-radius: 10px; margin-top: 10px;">
            {{#each className.class12}}
            <a class="btn dropdown-item" href="/class/{{this}}?year={{@root.CurYear}}&semester={{@root.CurSem}}"
                style="font-size: 18px; text-align: center;">
                {{this}}</a>
            {{/each}}
        </div>
    </div>
</div>

<div class="text-end me-5">
    <button type="button" class="btn btn-success shadow-sm" data-bs-toggle="modal" data-bs-target="#addClass"
        style="font-weight: bold; width:150px; position: fixed; bottom: 20px; right: 20px;">
        <i class="fas fa-plus"></i> Thêm lớp
    </button>
</div>


{{!-- MODEL ADD CLASS --}}
<div class="modal fade" id="addClass" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Thêm lớp học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="d-flex" id="form-add-class" name="form-add-class" method="post"
                    action="/class/add_class?year={{CurYear}}&semester={{CurSem}}"
                    onsubmit="return validateAddClassForm()">
                    <div class="border-end" style="width: 30%;">
                        <label>Chọn khối: </label>
                        <select id="grade" name="grade" style="width: 100px;">
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div style="width: 70%; padding-left: 20px;">
                        <div>
                            <label for="class_name" style="width: 150px;">Tên lớp: </label>
                            <input type="text" class="form-control" name="class_name" id="class_name">
                            <span validation-for="class_name" class="text-danger" id="class_name_span"></span>
                        </div>
                        <div class="mt-2">
                            <label for="teacher" style="width: 150px;">Giáo viên: </label>
                            <input type="text" class="form-control" name="teacher" id="teacher">
                            <span validation-for="teacher" class="text-danger" id="teacher_span"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" form="form-add-class" class="btn btn-success">Thêm</button>
            </div>
        </div>
    </div>
</div>
{{!-- END ADD CLASS --}}