<div class="container-fluid">
    <h5 id="class-header" data-class-name="{{ClassName}}" class="card py-2 shadow-sm"
        style="width: 200px; text-align: center; margin: 15px auto; border-radius: 10px;">
        {{ClassName}}</h5></span>
    <div class="d-flex justify-content-between align-items-end" style="margin-inline: 100px; margin-top: -30px;">
        <div>
            <a href="/class/{{ClassName}}?year={{CurYear}}&semester={{CurSem}}" style="text-decoration: underline; color: red;">Danh sách học sinh</a>
            |
            <a href="/class/{{ClassName}}/course?year={{CurYear}}&semester={{CurSem}}" style="text-decoration: underline; color: gray;">Danh sách môn học</a>
        </div>
        <div>
            <div>GVCN: {{Class.teacher}}</div>
            <div>Sĩ số: {{Class.amount_student}}</div>
        </div>
    </div>
    <div class="overflow-auto" data-bs-spy="scroll" data-bs-smooth-scroll="true" style="margin-inline: 100px;height: 470px; padding:10px 20px; background-color: #D9D9D9;
        margin-top: 15px; border-radius: 10px;" id="student-info">
        {{#each listStudent}}
        <div class="accordion accordion-flush" id="AccordionFlush_{{this.id}}">
            <div class="accordion-item mb-2 shadow-sm" style="border: 1px solid #D9D9D9; padding-inline: 2%;">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse_{{this.id}}" aria-expanded="false" aria-controls={{this.id}}>
                        <div style="margin-inline: 15px;">
                            {{this.stt}}.
                        </div>
                        {{this.name}}
                    </button>
                </h2>
                <div id="collapse_{{this.id}}" class="accordion-collapse collapse" data-bs-parent="#AccordionFlush_{{this.id}}">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-between">
                            <div style=" margin-left: 280px;">
                                <div class="d-flex">
                                    <div style="width: 100px;">Mã số : </div>
                                    <div class="mx-1" style="text-align: left;">{{this.id}}</div>
                                </div>
                                <div class="d-flex">
                                    <div style="width: 100px;">Giới tính: </div>
                                    <div class="mx-1" style="text-align: left;">{{this.gender}}</div>
                                </div>
                                 <div class="d-flex">
                                    <div style="width: 100px;">Ngày sinh: </div>
                                    <div class="mx-1" style="text-align: left;">{{this.dob}}</div>
                                </div>

                            </div>

                            <div class="d-flex" style="width: 50%;">
                                {{!-- <line style="height: 43px;"></line> --}}
                                <div style="margin-left: 80px; margin-top: -10px;">
                                    <div class="d-flex">
                                        <div style="width: 100px;">Email: </div>
                                        <div class="mx-1" style="text-align: left;">{{this.email}}</div>
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 100px;">Địa chỉ : </div>
                                        <div class="mx-1" style="text-align: left;">{{this.address}}</div>
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 100px;">Ghi chú : </div>
                                        <div class="mx-1" style="text-align: left;">...</div>
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div style="width: 85%; margin: 0px auto;">
                            <table class="table table-sm table-bordered mt-2 caption-top">
                                {{!-- <caption>Bảng điểm</caption> --}}
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-1"></th>
                                        {{#each this.summaryScore1}}
                                            <th scope="col" class="col-1">{{subject}}</th>
                                        {{/each}} 
                                        <th scope="col" class="col-1">Tổng kết</th>
                                    </tr>
                                </thead>
                                 <tbody data-bs-spy="scroll" data-bs-smooth-scroll="true">
                                    {{#if this.summaryScore1}}
                                    <tr class="col">
                                        <th scope="row">HK 1</th>
                                        {{#each this.summaryScore1}}
                                            <td>{{this.DTB}}</td>
                                        {{/each}}
                                         <td>{{summarySemester.0.DTB}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if this.summaryScore2}}
                                    <tr class="col">
                                        <th scope="row">HK 2</th>
                                        {{#each this.summaryScore2}}
                                            <td>{{this.DTB}}</td>
                                        {{/each}}
                                         <td>{{summarySemester.1.DTB}}</td>
                                    </tr>
                                    {{/if}}

                                    {{#if this.summaryScore}}
                                    <tr class="col">
                                        <th scope="row">Cuối kì</th>
                                        {{#each this.summaryScore}}
                                            <td>{{this.DTB}}</td>
                                        {{/each}}

                                         <td>{{summaryYear.DTB}}</td>
                                    </tr>
                                    {{/if}}

                                </tbody>
                               
                            </table>
                        </div>

                          <div style="text-align: end; margin-top: -5px; margin-bottom: 5px; margin-right: 5px;">
                                    <button type="button" class="btn btn-success view-student" data-bs-toggle="modal"
                                        data-bs-target="#viewStudentDetailModal" data-bs-mssv="{{this.id}}"
                                        onclick="showModal(this)">Xem chi tiết</button>
                                    <button type="button" class="btn btn-success edit-button" data-bs-toggle="modal"
                                        data-bs-target="#student_form" data-bs-mssv="{{this.stt}}"
                                        onclick="showModal(this)">Chỉnh sửa</button>
                                    {{!-- <a href="#" class="btn btn-success mx-3">Chỉnh sửa</a> --}}
                                    {{!-- <a href="#" class="btn btn-danger">Xóa</a> --}}
                                    <button class="btn btn-danger delete-button" data-bs-toggle="modal" href="#deleteStudent"
                                        data-bs-mssv="{{this.id}}"
                                        role="button">Xóa</button>
                            </div>
                    </div>

                </div>
            </div>
        </div>
        {{/each}}

    </div>
    <div class="d-flex justify-content-center">
        <button id="btn_export_students" class="mt-3  btn btn-success me-5" type="button" href="/{{ClassName}}/export/list_student">
            Xuất danh sách học sinh
        </button>
        <button id="btn_add_student" class="mt-3  btn btn-success me-5" type="button" data-bs-toggle="modal" data-bs-target="#student_form">
            Thêm học sinh
        </button>
        <button class="mt-3  btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#deleteClass">
            Xóa lớp
        </button>

    </div>
</div>

{{!-- FORM ADD STUDENT --}}
<div class="modal fade" id="student_form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div></div>
                <h5 class="card py-2 shadow-sm"
                    style="width: 300px; text-align: center; margin: 0px auto; border-radius: 10px;"
                    id="form-student-title">
                    Tiếp nhận học sinh</h5></span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    style="margin-left: 0;"></button>
            </div>
            <div class="modal-body">
                <form id="form-student" method="post" action="">
                    <div class="d-flex">
                        <label for="class-name" class="col-form-label" style="margin-right: 15px;">Lớp: </label>
                        <input class="text-center" type="text" class="form-control" id="class-name"
                            value="{{ClassName}}" style="display:block; width: 120px;" disabled>

                        <a id="btn-import-list-student" href="/class/{{ClassName}}/import?year={{CurYear}}&semester={{CurSem}}" type="button"
                            class="btn btn-secondary float-right ms-auto">Import danh sách từ file</a>
                    </div>

                    <div class="d-flex border mt-3">
                        <div class="border-end">
                            <div class="m-3">
                                <label for="form-student-name">Họ và tên: </label>
                                <input type="text" class="form-control" id="form-student-name" name="name"
                                    style="width: 350px;">
                            </div>

                            <div class="d-flex m-3">
                                <label for="student-name" style="margin-right: 15px;">Giới tính: </label>

                                <div class="form-check d-block" style="margin-right: 15px;">
                                    <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                                    <label class="form-check-label" for="male">
                                        Nam
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                                    <label class="form-check-label" for="female">
                                        Nữ
                                    </label>
                                </div>
                            </div>

                            <div class="m-3">
                                <label for="student-name">Ngày sinh: </label>
                                <input type="date" class="form-control" id="birthday" name="dob">
                            </div>

                            <div class="m-3">
                                <label for="student-name">Địa chỉ: </label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>

                        </div>

                        <div>
                            <div class="m-3">
                                <label for="email">Email: </label>
                                <input type="text" class="form-control" id="email" style="width: 350px;" name="email">
                            </div>

                            <div class="m-3">
                                <label for="note">Ghi chú: </label>
                                <textarea class="form-control" id="note" rows="3" name="note"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="form-student">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>
{{!-- END FORM ADD STUDENT --}}


{{!-- DELETE STUDENT --}}
<!-- Modal -->
<div class="modal fade" id="deleteStudent" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Xác nhận xóa sinh viên</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-delete" action="">
                    <div class="m-3">
                        <label for="student-name">Nhập mật khẩu admin: </label>
                        <input type="text" class="form-control mt-2" id="student-name" name="admin_password" style="width: 350px;">
                    </div>
                </form>
                <div class="text-danger mx-3">
                    *Không thể phục hồi dữ liệu nếu thực hiện xóa
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="delete-button btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" form="form-delete" class="btn btn-danger">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>
{{!-- END DELETE STUDENT --}}

{{!-- DELETE CLASS MODAL --}}
<div class="modal fade" id="deleteClass" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Xác nhận xóa lớp này</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/class/delete_class?year={{CurYear}}&semester={{CurSem}}&class={{ClassName}}" method="post" id="form-delete-class">
                    <div class="m-3">
                        <label for="password">Nhập mật khẩu admin: </label>
                        <input type="password" class="form-control mt-2" id="password" name="password" style="width: 350px;">
                    </div>
                </form>
                <div class="text-danger mx-3">
                    *Không thể phục hồi dữ liệu nếu thực hiện xóa
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" form="form-delete-class" class="btn btn-danger">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>
{{!-- END DELETE CLASS --}}

{{!-- DETAIL INFORMATION STUDENT --}}
{{!-- Modal --}}
<div class="modal fade mt-1" id="viewStudentDetailModal" tabindex="-1" aria-labelledby="viewStudentDetailModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title container-fluid" style="text-align: center; ">
                    <h1 class=" fs-5" id="viewStudentDetailModalLabel">THÔNG TIN CHI TIẾT</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mb-2">
                <div>Thông tin cá nhân</div>
                <div class="card mx-5">
                    <div class="card-body container-fluid">
                        <div class="d-flex justify-content-between container-fluid mx-4">
                            <div>
                                <div class="d-flex">
                                    <div style="width: 100px;">Họ và tên :</div>
                                    <div class="mx-1" id ="name" style="text-align: left;"></div>
                                </div>
                                <div class="d-flex">
                                    <div style="width: 100px;">Giới tính :</div>
                                    <div class="mx-1" id ="gender" style="text-align: left;"></div>
                                </div>
                                <div class="d-flex">
                                    <div style="width: 100px;">Ngày sinh :</div>
                                    <div class="mx-1" id ="dob" style="text-align: left;"></div>
                                </div>
                                <div class="d-flex">
                                    <div style="width: 100px;">Địa chỉ :</div>
                                    <div class="mx-1" id = "address"style="text-align: left;"></div>
                                </div>
                            </div>

                            <div style="width: 50%;">
                                {{!-- <line style="height: 70px;"></line> --}}
                                <div class="mx-5">
                                    <div class="d-flex">
                                        <div style="width: 100px;">TB HK1 :</div>
                                        <div id ='score1-summary'class="mx-1" style="text-align: left;">0.0</div>
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 100px;">TB HK2 :</div>
                                        <div id ='score2-summary' class="mx-1" style="text-align: left;">0.0</div>
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 100px;">CK :</div>
                                        <div id ='score-summary' class="mx-1" style="text-align: left;">0.0</div>
                                    </div>
                                    <div class="d-flex">
                                        <div style="width: 100px;">Ghi chú :</div>
                                        <div class="mx-1" style="text-align: left;">...</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="my-2 d-flex">
                    Bảng điểm
                    <div class="mx-3">
                        <a id = "score-hk1" href="#" style="text-decoration: underline; color: red;">HK1</a>
                        |
                        <a id = "score-hk2"  href="#" style="text-decoration: underline; color: gray;">HK2</a>
                    </div>

                </div>
                <div class="table-responsive" style="height: 350px; margin-inline: 20px; border: 1px solid #f1f1f1;">
                    <table class="table table-bordered table-sm" id="table-score-of-student" >
                        <thead>
                            <tr>
                                <th scope="col" class="col-1">STT</th>
                                <th scope="col" class="col-3">Tên môn học</th>
                                <th scope="col" class="col-2">Điểm 15 phút</th>
                                <th scope="col" class="col-2">Điểm 1 tiết</th>
                                <th scope="col" class="col-2">Điểm cuối HK</th>
                            </tr>
                        </thead>
                        <tbody data-bs-spy="scroll" data-bs-smooth-scroll="true">
                         
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- END DETAIL INFO STUDENT --}}
