<div>
    <h5 class="card py-2 shadow-sm" style="width: 400px; text-align: center; margin: 15px auto; border-radius: 10px;">
        BÁO CÁO TỔNG KẾT HỌC KỲ</h5>
    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-center" style="width: 90%; margin-left: 150px;" >
            <div class="mt-1" style="font-size: 13px;">Học kì: </div>
            <div class="mx-2">
                <select class="py-1 fw-bold" aria-label=".form-select-lg example" style="background-color: #F4F4F4 ; font-size: 13px; border-radius: 20px; border-color: #D9D9D9; 
                    width: 70px; padding-left: 20px;">
                    <option value="" selected style="font-size: 13px;">1</option>
                    <option value="" style="font-size: 13px;">2</option>
                    <option value="" style="font-size: 13px;">Cả năm</option>
                </select>
            </div>
        </div>
        <div class="text-end me-5" style="width: 10%;">
        </div>
    </div>
    <div class="card my-2 mx-5" style="background-color: #D9D9D9; height: 510px; border-radius: 10px;">
        <div class="table-responsive px-3 py-2 m-4"
            style="background-color: white; border-radius: 10px; height: 500px;">
            <table class="table table-sm table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Lớp</th>
                        <th scope="col">Sĩ số</th>
                        <th scope="col">Số lượng đạt</th>
                        <th scope="col">Tỷ lệ</th>
                    </tr>
                </thead>
                <tbody data-bs-spy="scroll" data-bs-smooth-scroll="true">
                    {{#each listSummary}}
                    <tr>
                        <th scope="row">{{this.stt}}</th>
                        <td>{{this.class}}</td>
                        <td>{{this.amount_student}}</td>
                        <td>{{this.quantity_reached}}</td>
                        <td>{{this.ratio}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>


{{!-- MODIFY CLASS NAME --}}
<div class="modal fade" id="modify-class-name" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Chỉnh sửa lớp học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-add-class" method="post">
                    <div>
                        <label for="class-name" class="d-block">Tên môn học: </label>
                        <input type="text" value="Anh Văn" style="width: 100%;" class="mt-2 p-1">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="submit" form="form-delete" class="btn btn-success" formtarget="form-add-class">Xác
                    nhận</button>
            </div>
        </div>
    </div>
</div>
{{!-- END MODIFY CLASS NAME --}}